.VPHome {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}


.VPHome .VPFeatures {
  padding-top: 0 !important;
  flex-grow: 0;
}

.VPHome .vp-doc {
  display: none;
}